<h2>Available Clients:</h2>
<hr>

<% if @clients.any? %>
  <ul class="list-group">
    <% @clients.each() do |client| %>
      <li class="list-group-item">
        <a href="/clients/<%=client.id()%>"><%= client.name() %></a>
      </li>
    <% end %>
  </ul>
<% else %>
  <h3>No clients have been added</h3>
<% end %>
<div class="btn-group" role="group">
  <a href="/" class="btn btn-default" role="button">Home</a>
  <a href="/clients/new" class="btn btn-warning active" role="button">Add New Client</a>
</div>
