<div class="btn-group" role="group">
  <a href="/stylists/new" class="btn btn-primary btn-lg active" role="button">Add New Stylist</a>
  <a href="/stylists" class="btn btn-warning btn-lg active" role="button">View Stylists</a>
</div>


<div class="btn-group" role="group">
  <a href="/clients/new" class="btn btn-primary btn-lg active" role="button">Add New Client</a>
  <a href="/clients" class="btn btn-warning btn-lg active" role="button">View Clients</a>
</div>
