<h1> <%= @stylist.name() %> </h1>

<ul class="list-group">
  <li class = "list-group-item">Phone Number:   <%= @stylist.phone() %> </li>
  <li class = "list-group-item">Email Address:   <%= @stylist.email() %> </li>
</ul>

<div class="btn-group" role="group">
  <a href="/stylists/<%= @stylist.id() %>/edit" class="btn btn-default" role="button">Edit Stylist</a>
</div>

<br>
<hr>

<div class="btn-group" role="group">
  <a href="/" class="btn btn-default active" role="button">Home</a>
</div>
